# To-Dos
- [ ] Redo with full gemeente datasets
- [ ] Figure out how to create rows for totals by crime category
- [ ] Look up how to use transform vs. agg
- [ ] Keep overall crime per gemeente in final dataset; can then check violent crime as a percent of total crime in each gemeente

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import math

# Data prep

## Import crime data

In [6]:
## Data extracted from: https://data.politie.nl/portal.html?_la=nl&_catalog=Politie&tableId=47013NED&_theme=114
## On: 12-07-2025

crime_data = 'RegisteredCrimes_AllCrimes_Gemeenten_2024.csv'
metadata = 'AlleMisdrijven_Metadata.csv'

meta_df = pd.read_csv(metadata, sep=';', index_col=1, header=1)
meta_df

,ID,ShortTitle,Identifier,Summary,Modified,ReasonDelivery,ExplanatoryText,Language,Catalog,Frequency,Period,ShortDescription,Description,DefaultPresentation,DefaultSelection,GraphTypes,OutputStatus,Source,MetaDataModified,SearchPriority
Title,,,,,,,,,,,,,,,,,,,,
"Geregistreerde misdrijven en aangiften; soort misdrijf, gemeente 2025",0,Misdrijven en aangiften per gemeente,47013NED,"Geregistreerde misdrijven, aangiften en intern...",2025-06-16T02:00:00,ActualiseringBijzonder,NaN,nl,Politie,Permaand,2012-2025,\nDeze tabel bevat cijfers over het aantal ger...,INHOUDSOPGAVE\n\n1. Toelichting\n2. Definities...,ts=1749630168797&graphtype=Table&r=RegioS&k=To...,$filter=((SoortMisdrijf eq '0.0.0 ')) and ((Pe...,"Table,Bar,Map",Regulier,&copy; Politie,2025-06-16T02:00:00,2.0
NaN,DataProperties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,ID,ParentID,Type,Key,Title,Description,ReleasePolicy,Datatype,Unit,Decimals,Default,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,NaN,Dimension,SoortMisdrijf,Soort misdrijf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,GeoDimension,RegioS,Regio's,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025 januari,2025MM01,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025 februari,2025MM02,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025 maart,2025MM03,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025 april,2025MM04,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025 mei,2025MM05,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
crime_df = pd.read_csv(crime_data, sep=';')
crime_df

             ID SoortMisdrijf  RegioS  Perioden  GeregistreerdeMisdrijven_1
0          3492        0.0.0   GM1680  2012JJ00                       925.0
1          3505        0.0.0   GM1680  2013JJ00                       755.0
2          3518        0.0.0   GM1680  2014JJ00                       664.0
3          3531        0.0.0   GM1680  2015JJ00                       634.0
4          3544        0.0.0   GM1680  2016JJ00                       616.0
...         ...           ...     ...       ...                         ...
263843  3847778        3.9.3   GM0999  2020JJ00                         NaN
263844  3847791        3.9.3   GM0999  2021JJ00                         NaN
263845  3847804        3.9.3   GM0999  2022JJ00                         NaN
263846  3847817        3.9.3   GM0999  2023JJ00                         NaN
263847  3847830        3.9.3   GM0999  2024JJ00                         NaN

[263848 rows x 5 columns]

## Extract crime metadata

In [9]:
print('Unique crime codes:')
print(crime_df['SoortMisdrijf'].unique())
print('Unqiue gemeente codes:')
print(crime_df['RegioS'].unique())
print('Unique year codes:')
print(crime_df['Perioden'].unique())

Unique crime codes:
['0.0.0 ' '1.1.1 ' '1.1.2 ' '1.2.1 ' '1.2.2 ' '1.2.3 ' '1.2.4 ' '1.2.5 '
 '1.3.1 ' '1.4.1 ' '1.4.2 ' '1.4.3 ' '1.4.4 ' '1.4.5 ' '1.4.6 ' '1.4.7 '
 '1.5.2 ' '1.6.1 ' '1.6.2 ' '1.6.3 ' '2.1.1 ' '2.2.1 ' '2.4.1 ' '2.4.2 '
 '2.5.1 ' '2.5.2 ' '2.6.1 ' '2.6.2 ' '2.6.3 ' '2.6.4 ' '2.6.5 ' '2.6.7 '
 '2.6.8 ' '2.6.9 ' '2.6.10' '2.6.11' '2.6.12' '2.6.13' '2.6.14' '2.7.2 '
 '2.7.3 ' '3.1.1 ' '3.1.2 ' '3.1.3 ' '3.2.1 ' '3.2.2 ' '3.3.2 ' '3.3.5 '
 '3.4.2 ' '3.5.2 ' '3.5.5 ' '3.6.4 ' '3.7.1 ' '3.7.2 ' '3.7.3 ' '3.7.4 '
 '3.9.1 ' '3.9.2 ' '3.9.3 ']
Unqiue gemeente codes:
['GM1680' 'GM0358' 'GM0197' 'GM0059' 'GM0482' 'GM0613' 'GM0361' 'GM0141'
 'GM0034' 'GM0484' 'GM1723' 'GM1959' 'GM0060' 'GM0307' 'GM0362' 'GM0363'
 'GM0200' 'GM0202' 'GM0106' 'GM0743' 'GM0744' 'GM0308' 'GM0489' 'GM0203'
 'GM0888' 'GM1954' 'GM0889' 'GM1945' 'GM1724' 'GM0893' 'GM0373' 'GM0748'
 'GM1859' 'GM1721' 'GM0753' 'GM0209' 'GM0375' 'GM0310' 'GM1728' 'GM0376'
 'GM0377' 'GM1901' 'GM0755' 'GM1681' 'GM0147' 'GM0654' 'GM0757' 'GM0758'
 'GM1876' 'GM0213' 'GM0899' 'GM0312' 'GM0313' 'GM0214' 'GM0502' 'GM0383'
 'GM0109' 'GM1706' 'GM0216' 'GM0148' 'GM1891' 'GM0503' 'GM0762' 'GM0150'
 'GM0384' 'GM1980' 'GM1774' 'GM0221' 'GM0222' 'GM0766' 'GM0505' 'GM0498'
 'GM1719' 'GM0303' 'GM0225' 'GM0226' 'GM1711' 'GM0385' 'GM0228' 'GM0317'
 'GM1979' 'GM0770' 'GM1903' 'GM0772' 'GM0230' 'GM0114' 'GM0388' 'GM0153'
 'GM0232' 'GM0233' 'GM0777' 'GM1940' 'GM0779' 'GM1771' 'GM1652' 'GM0907'
 'GM0784' 'GM1924' 'GM0664' 'GM0785' 'GM1942' 'GM0512' 'GM0513' 'GM0518'
 'GM0014' 'GM1729' 'GM0158' 'GM0392' 'GM0394' 'GM1655' 'GM0160' 'GM0243'
 'GM0523' 'GM0072' 'GM0244' 'GM0396' 'GM0397' 'GM0246' 'GM0074' 'GM0917'
 'GM1658' 'GM0399' 'GM0400' 'GM0163' 'GM0794' 'GM0531' 'GM0164' 'GM0796'
 'GM0252' 'GM0797' 'GM0534' 'GM0798' 'GM0402' 'GM1963' 'GM1735' 'GM1966'
 'GM1911' 'GM0118' 'GM0405' 'GM1507' 'GM0321' 'GM0406' 'GM0677' 'GM0353'
 'GM1884' 'GM0166' 'GM0678' 'GM0537' 'GM0928' 'GM1598' 'GM0542' 'GM1931'
 'GM1659' 'GM1982' 'GM0882' 'GM0415' 'GM1621' 'GM0417' 'GM0080' 'GM0546'
 'GM0547' 'GM1916' 'GM0995' 'GM1640' 'GM0327' 'GM1705' 'GM0553' 'GM0262'
 'GM0809' 'GM0331' 'GM0168' 'GM0263' 'GM1641' 'GM1991' 'GM0556' 'GM0935'
 'GM0420' 'GM0938' 'GM1948' 'GM0119' 'GM0687' 'GM1842' 'GM1731' 'GM1952'
 'GM1709' 'GM1978' 'GM1955' 'GM0335' 'GM0944' 'GM1740' 'GM0946' 'GM0356'
 'GM0569' 'GM0267' 'GM0268' 'GM1930' 'GM1970' 'GM1695' 'GM1699' 'GM0171'
 'GM0575' 'GM0820' 'GM0302' 'GM0579' 'GM0823' 'GM0824' 'GM1895' 'GM0269'
 'GM0173' 'GM1773' 'GM0175' 'GM1586' 'GM0826' 'GM0085' 'GM0431' 'GM0432'
 'GM0086' 'GM0828' 'GM1509' 'GM0437' 'GM0589' 'GM1734' 'GM0590' 'GM1894'
 'GM0765' 'GM1926' 'GM0439' 'GM0273' 'GM0177' 'GM0703' 'GM0274' 'GM0339'
 'GM1667' 'GM0275' 'GM0340' 'GM0597' 'GM1742' 'GM0603' 'GM1669' 'GM0957'
 'GM0736' 'GM1674' 'GM0599' 'GM0277' 'GM0840' 'GM0441' 'GM0279' 'GM0606'
 'GM0088' 'GM1676' 'GM0965' 'GM0845' 'GM1883' 'GM0610' 'GM1714' 'GM0090'
 'GM0342' 'GM0847' 'GM0848' 'GM0037' 'GM0180' 'GM0532' 'GM0851' 'GM1708'
 'GM0971' 'GM1904' 'GM1900' 'GM0715' 'GM0093' 'GM0448' 'GM1525' 'GM0716'
 'GM0281' 'GM0855' 'GM0183' 'GM1700' 'GM1730' 'GM0737' 'GM0450' 'GM0451'
 'GM0184' 'GM0344' 'GM1581' 'GM0981' 'GM0994' 'GM0858' 'GM0047' 'GM0345'
 'GM0717' 'GM0861' 'GM0453' 'GM0983' 'GM0984' 'GM1961' 'GM0622' 'GM0096'
 'GM0718' 'GM0986' 'GM1992' 'GM0626' 'GM0285' 'GM0865' 'GM1949' 'GM0866'
 'GM0867' 'GM0627' 'GM0289' 'GM0629' 'GM0852' 'GM0988' 'GM1960' 'GM0668'
 'GM1969' 'GM1701' 'GM0293' 'GM1950' 'GM1783' 'GM0098' 'GM0189' 'GM0296'
 'GM1696' 'GM0352' 'GM0294' 'GM0873' 'GM0632' 'GM1690' 'GM0880' 'GM0351'
 'GM0479' 'GM0297' 'GM0473' 'GM0050' 'GM0355' 'GM0299' 'GM0637' 'GM0638'
 'GM1892' 'GM0879' 'GM0301' 'GM1896' 'GM0642' 'GM0193' 'GM0998' 'GM0999']
Unique year codes:
['2012JJ00' '2013JJ00' '2014JJ00' '2015JJ00' '2016JJ00' '2017JJ00'
 '2018JJ00' '2019JJ00' '2020JJ00' '2021JJ00' '2022JJ00' '2023JJ00'
 '2024JJ00']

In [10]:
crime_codes = list(crime_df['SoortMisdrijf'].unique())
gemeente_codes = list(crime_df['RegioS'].unique())
year_codes = list(crime_df['Perioden'].unique())

In [11]:
crime_tuples = tuple(crime_codes)

crime_indices = []

for i in list(meta_df.index):
    if type(i) == float:
        continue
    elif i.startswith(crime_tuples):
        crime_indices.append(i)

crime_keys = []

for i in crime_indices:
    code_split = i.split(' ', maxsplit=1)
    crime_keys.append(code_split)

In [12]:
violent_crime = ['Zedendelicten','Moord, doodslag', 'Openlijk geweld (persoon)',
 'Bedreiging',
 'Mishandeling',
 'Straatroof',
 'Overval','Mensenhandel','Mensensmokkel', 'Kinderporno',
 'Kinderprostitutie']

In [13]:
crimekeys_df = pd.DataFrame(crime_keys,columns=['code','crime_name'])

violentcrime_df = crimekeys_df[crimekeys_df['crime_name'].isin(violent_crime)]

violentcrime_df.set_index(keys='code', inplace=True)

violentcrime_series = violentcrime_df['crime_name']

In [14]:
gmcodes_series = meta_df[meta_df['ID'].isin(gemeente_codes)]['ID']
yearcodes_series = meta_df[meta_df['ID'].isin(year_codes)]['ID']
gmcodes_series

Title
Aa en Hunze                    GM1680
Aalsmeer                       GM0358
Aalten                         GM0197
Achtkarspelen                  GM0059
Alblasserdam                   GM0482
                                ...
Zwartewaterland                GM1896
Zwijndrecht                    GM0642
Zwolle                         GM0193
Buitenland                     GM0998
Gemeenten; niet in te delen    GM0999
Name: ID, Length: 344, dtype: object

In [15]:
violentcrime_dict = dict(violentcrime_series)
gm_dict = {}
for i, v in zip(gmcodes_series.index, gmcodes_series.values):
   gm_dict[v] = i

years_dict = {}
for i, v in zip(yearcodes_series.index, yearcodes_series.values):
    years_dict[v] = i

In [16]:
violentcrime_dict

{'1.4.1': 'Zedendelicten',
 '1.4.2': 'Moord, doodslag',
 '1.4.3': 'Openlijk geweld (persoon)',
 '1.4.4': 'Bedreiging',
 '1.4.5': 'Mishandeling',
 '1.4.6': 'Straatroof',
 '1.4.7': 'Overval',
 '1.6.3': 'Mensenhandel',
 '3.1.2': 'Mensensmokkel',
 '3.2.1': 'Kinderporno',
 '3.2.2': 'Kinderprostitutie'}

## Map crime, gemeente and year by codes to crime data

In [18]:
violentcrime_dict

{'1.4.1': 'Zedendelicten',
 '1.4.2': 'Moord, doodslag',
 '1.4.3': 'Openlijk geweld (persoon)',
 '1.4.4': 'Bedreiging',
 '1.4.5': 'Mishandeling',
 '1.4.6': 'Straatroof',
 '1.4.7': 'Overval',
 '1.6.3': 'Mensenhandel',
 '3.1.2': 'Mensensmokkel',
 '3.2.1': 'Kinderporno',
 '3.2.2': 'Kinderprostitutie'}

In [19]:
crime_df['SoortMisdrijf'] = crime_df['SoortMisdrijf'].apply(lambda x: x.strip())

In [20]:
crime_df['SoortMisdrijf'].unique()

array(['0.0.0', '1.1.1', '1.1.2', '1.2.1', '1.2.2', '1.2.3', '1.2.4',
       '1.2.5', '1.3.1', '1.4.1', '1.4.2', '1.4.3', '1.4.4', '1.4.5',
       '1.4.6', '1.4.7', '1.5.2', '1.6.1', '1.6.2', '1.6.3', '2.1.1',
       '2.2.1', '2.4.1', '2.4.2', '2.5.1', '2.5.2', '2.6.1', '2.6.2',
       '2.6.3', '2.6.4', '2.6.5', '2.6.7', '2.6.8', '2.6.9', '2.6.10',
       '2.6.11', '2.6.12', '2.6.13', '2.6.14', '2.7.2', '2.7.3', '3.1.1',
       '3.1.2', '3.1.3', '3.2.1', '3.2.2', '3.3.2', '3.3.5', '3.4.2',
       '3.5.2', '3.5.5', '3.6.4', '3.7.1', '3.7.2', '3.7.3', '3.7.4',
       '3.9.1', '3.9.2', '3.9.3'], dtype=object)

In [21]:
crime_df['crime_cat'] = crime_df['SoortMisdrijf'].map(violentcrime_dict)
crime_df['gemeente'] = crime_df['RegioS'].map(gm_dict)
crime_df['year'] = crime_df['Perioden'].map(years_dict)

In [22]:
crime_df

,ID,SoortMisdrijf,RegioS,Perioden,GeregistreerdeMisdrijven_1,crime_cat,gemeente,year
0,3492,0.0.0,GM1680,2012JJ00,925.0,NaN,Aa en Hunze,2012
1,3505,0.0.0,GM1680,2013JJ00,755.0,NaN,Aa en Hunze,2013
2,3518,0.0.0,GM1680,2014JJ00,664.0,NaN,Aa en Hunze,2014
3,3531,0.0.0,GM1680,2015JJ00,634.0,NaN,Aa en Hunze,2015
4,3544,0.0.0,GM1680,2016JJ00,616.0,NaN,Aa en Hunze,2016
...,...,...,...,...,...,...,...,...
263843,3847778,3.9.3,GM0999,2020JJ00,NaN,NaN,Gemeenten; niet in te delen,2020
263844,3847791,3.9.3,GM0999,2021JJ00,NaN,NaN,Gemeenten; niet in te delen,2021
263845,3847804,3.9.3,GM0999,2022JJ00,NaN,NaN,Gemeenten; niet in te delen,2022
263846,3847817,3.9.3,GM0999,2023JJ00,NaN,NaN,Gemeenten; niet in te delen,2023
263847,3847830,3.9.3,GM0999,2024JJ00,NaN,NaN,Gemeenten; niet in te delen,2024

In [23]:
crime_df['crime_cat'].unique()

array([nan, 'Zedendelicten', 'Moord, doodslag',
       'Openlijk geweld (persoon)', 'Bedreiging', 'Mishandeling',
       'Straatroof', 'Overval', 'Mensenhandel', 'Mensensmokkel',
       'Kinderporno', 'Kinderprostitutie'], dtype=object)

In [24]:
## Drop all rows were crime_cat is NaN after mapping
crime_df.dropna(subset=['crime_cat'], inplace=True)

In [25]:
crime_df

,ID,SoortMisdrijf,RegioS,Perioden,GeregistreerdeMisdrijven_1,crime_cat,gemeente,year
40248,590742,1.4.1,GM1680,2012JJ00,13.0,Zedendelicten,Aa en Hunze,2012
40249,590755,1.4.1,GM1680,2013JJ00,9.0,Zedendelicten,Aa en Hunze,2013
40250,590768,1.4.1,GM1680,2014JJ00,10.0,Zedendelicten,Aa en Hunze,2014
40251,590781,1.4.1,GM1680,2015JJ00,13.0,Zedendelicten,Aa en Hunze,2015
40252,590794,1.4.1,GM1680,2016JJ00,16.0,Zedendelicten,Aa en Hunze,2016
...,...,...,...,...,...,...,...,...
205707,2999528,3.2.2,GM0999,2020JJ00,NaN,Kinderprostitutie,Gemeenten; niet in te delen,2020
205708,2999541,3.2.2,GM0999,2021JJ00,NaN,Kinderprostitutie,Gemeenten; niet in te delen,2021
205709,2999554,3.2.2,GM0999,2022JJ00,NaN,Kinderprostitutie,Gemeenten; niet in te delen,2022
205710,2999567,3.2.2,GM0999,2023JJ00,NaN,Kinderprostitutie,Gemeenten; niet in te delen,2023
205711,2999580,3.2.2,GM0999,2024JJ00,NaN,Kinderprostitutie,Gemeenten; niet in te delen,2024

In [26]:
## Fill remaining NaN values in GeregistreerdeMisdrijven with 0
crime_df['GeregistreerdeMisdrijven_1'].fillna(value=0, inplace=True)

crime_df.rename(mapper={'RegioS':'Regions', 'Perioden':'Periods'}, axis=1, inplace=True)

C:\Users\chels\AppData\Local\Temp\ipykernel_15672\3992183514.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crime_df['GeregistreerdeMisdrijven_1'].fillna(value=0, inplace=True)

In [27]:
crime_df.isna().sum()

ID                            0
SoortMisdrijf                 0
Regions                       0
Periods                       0
GeregistreerdeMisdrijven_1    0
crime_cat                     0
gemeente                      0
year                          0
dtype: int64

## Import & extract population data

In [29]:
## Extracted from: https://opendata.cbs.nl/statline/#/CBS/en/dataset/37259eng/table?ts=1752340527100
## https://opendata.cbs.nl/statline/portal.html?_la=en&_catalog=CBS&tableId=37259eng&_theme=1178
## On: 12-07-2025

# popdata = 'Bevolking_Gemeenten.csv'
## https://opendata.cbs.nl/statline/#/CBS/nl/dataset/37230ned/table?ts=1752318493150
popdata = 'Pop_NL_MajorCities.csv'


popdata_df = pd.read_csv(popdata, sep=';')

popdata_df.head()

     ID      Sex Regions   Periods  PopulationOn31December_20
0  6461  T001038  GM0361  2012JJ00                      94505
1  6462  T001038  GM0361  2013JJ00                      94866
2  6463  T001038  GM0361  2014JJ00                      95248
3  6464  T001038  GM0361  2015JJ00                     107615
4  6465  T001038  GM0361  2016JJ00                     108373

In [30]:
popdata_df.isna().sum()

ID                           0
Sex                          0
Regions                      0
Periods                      0
PopulationOn31December_20    0
dtype: int64

In [31]:
## Keep only 'bevolking aan het einde van de periode', RegioS and Perioden
popdata_df.drop(labels=['ID','Sex'], axis=1, inplace=True)

In [32]:
## Rename bevolking column to PopYearEnd
popdata_df.rename(mapper={'PopulationOn31December_20':'popyearend'}, axis=1, inplace=True)

In [33]:
popdata_df

    Regions   Periods  popyearend
0    GM0361  2012JJ00       94505
1    GM0361  2013JJ00       94866
2    GM0361  2014JJ00       95248
3    GM0361  2015JJ00      107615
4    GM0361  2016JJ00      108373
..      ...       ...         ...
255  GM0855  2020JJ00      220505
256  GM0855  2021JJ00      224459
257  GM0855  2022JJ00      227707
258  GM0855  2023JJ00      229836
259  GM0855  2024JJ00      230357

[260 rows x 3 columns]

In [34]:
## Merge popdata_df to crime_df based on common RegioS and Perioden keys
crimepc_df = pd.merge(crime_df, popdata_df, on=['Regions', 'Periods'], how='left')

In [35]:
crimepc_df.rename({'GeregistreerdeMisdrijven_1':'registered_crimes'},axis=1, inplace=True)

In [141]:
crime_cities = crimepc_df[~crimepc_df['popyearend'].isna()]
pop_sort = crime_cities[crime_cities['year'] == '2024'].sort_values(by=['popyearend'], axis=0, ascending=False)

In [153]:
pop_sort.drop_duplicates(subset=['gemeente','year'], inplace=True)
pop_sort

,ID,SoortMisdrijf,Regions,Periods,registered_crimes,crime_cat,gemeente,year,popyearend
4679,658758,1.4.2,GM0363,2024JJ00,270.0,"Moord, doodslag",Amsterdam,2024,934526.0
12102,763506,1.4.3,GM0599,2024JJ00,343.0,Openlijk geweld (persoon),Rotterdam,2024,672960.0
14767,804570,1.4.4,GM0518,2024JJ00,1391.0,Bedreiging,'s-Gravenhage (gemeente),2024,568945.0
5563,670590,1.4.2,GM0772,2024JJ00,60.0,"Moord, doodslag",Eindhoven,2024,249035.0
30393,1029900,1.4.7,GM0855,2024JJ00,4.0,Overval,Tilburg,2024,230357.0
40364,2876040,3.2.1,GM0034,2024JJ00,5.0,Kinderporno,Almere,2024,229574.0
20422,885654,1.4.5,GM0268,2024JJ00,539.0,Mishandeling,Nijmegen,2024,189007.0
40871,2882826,3.2.1,GM0758,2024JJ00,7.0,Kinderporno,Breda,2024,188779.0
233,593856,1.4.1,GM0202,2024JJ00,153.0,Zedendelicten,Arnhem,2024,169364.0
28235,1001016,1.4.7,GM0392,2024JJ00,6.0,Overval,Haarlem,2024,168743.0
28495,1004496,1.4.7,GM0796,2024JJ00,1.0,Overval,'s-Hertogenbosch,2024,161530.0
28898,1009890,1.4.7,GM0080,2024JJ00,10.0,Overval,Leeuwarden,2024,129973.0
42535,2905098,3.2.1,GM0935,2024JJ00,8.0,Kinderporno,Maastricht,2024,125563.0
44810,2940942,3.2.2,GM0361,2024JJ00,0.0,Kinderprostitutie,Alkmaar,2024,112896.0
805,601512,1.4.1,GM0503,2024JJ00,39.0,Zedendelicten,Delft,2024,110173.0
831,601860,1.4.1,GM0150,2024JJ00,86.0,Zedendelicten,Deventer,2024,104301.0
37894,2772336,3.1.2,GM0995,2024JJ00,0.0,Mensensmokkel,Lelystad,2024,84713.0
246,594030,1.4.1,GM0106,2024JJ00,44.0,Zedendelicten,Assen,2024,70392.0
2352,622218,1.4.1,GM0687,2024JJ00,29.0,Zedendelicten,Middelburg (Z.),2024,50152.0
45252,2946858,3.2.2,GM0377,2024JJ00,0.0,Kinderprostitutie,Bloemendaal,2024,23592.0

In [80]:
crimecities_sub = crime_cities[['gemeente','year','crime_cat','registered_crimes','popyearend']]
crimecities_sub

      gemeente  year          crime_cat  registered_crimes  popyearend
78     Alkmaar  2012      Zedendelicten               43.0     94505.0
79     Alkmaar  2013      Zedendelicten               44.0     94866.0
80     Alkmaar  2014      Zedendelicten               46.0     95248.0
81     Alkmaar  2015      Zedendelicten               52.0    107615.0
82     Alkmaar  2016      Zedendelicten               57.0    108373.0
...        ...   ...                ...                ...         ...
48277  Tilburg  2020  Kinderprostitutie                1.0    220505.0
48278  Tilburg  2021  Kinderprostitutie                0.0    224459.0
48279  Tilburg  2022  Kinderprostitutie                0.0    227707.0
48280  Tilburg  2023  Kinderprostitutie                0.0    229836.0
48281  Tilburg  2024  Kinderprostitutie                0.0    230357.0

[2860 rows x 5 columns]

In [38]:
crimecities_sub.isna().sum()

registered_crimes    0
crime_cat            0
gemeente             0
year                 0
popyearend           0
dtype: int64

## Total violent crime by city and year

In [73]:
# Calculate total crime per thousand for each gemeente
total_per_gemeente = crimecities_sub.groupby(['gemeente', 'year']).agg({'registered_crimes': 'sum'}).reset_index()
total_per_gemeente['crime_cat'] = 'Total'

                      gemeente  year  registered_crimes crime_cat  popyearend
0     's-Gravenhage (gemeente)  2012             6173.0     Total    505856.0
1     's-Gravenhage (gemeente)  2012             6173.0     Total    505856.0
2     's-Gravenhage (gemeente)  2012             6173.0     Total    505856.0
3     's-Gravenhage (gemeente)  2012             6173.0     Total    505856.0
4     's-Gravenhage (gemeente)  2012             6173.0     Total    505856.0
...                        ...   ...                ...       ...         ...
2855                   Tilburg  2024             1446.0     Total    230357.0
2856                   Tilburg  2024             1446.0     Total    230357.0
2857                   Tilburg  2024             1446.0     Total    230357.0
2858                   Tilburg  2024             1446.0     Total    230357.0
2859                   Tilburg  2024             1446.0     Total    230357.0

[2860 rows x 5 columns]

In [84]:
# Ensure unique combinations of gemeente and year by aggregating the population data
population_df_unique = crimecities_sub.drop_duplicates(subset=['gemeente', 'year'])

# Create a mapping Series from the unique population data
population_map = population_df_unique.set_index(['gemeente', 'year'])['popyearend']

population_map

# Map the population values to the crime DataFrame
total_per_gemeente['popyearend'] = total_per_gemeente.set_index(['gemeente', 'year']).index.map(population_map)

In [88]:
total_per_gemeente = total_per_gemeente[['gemeente','year','crime_cat','registered_crimes','popyearend']]
total_per_gemeente

                     gemeente  year crime_cat  registered_crimes  popyearend
0    's-Gravenhage (gemeente)  2012     Total             6173.0    505856.0
1    's-Gravenhage (gemeente)  2013     Total             6025.0    508940.0
2    's-Gravenhage (gemeente)  2014     Total             5633.0    514861.0
3    's-Gravenhage (gemeente)  2015     Total             5047.0    519988.0
4    's-Gravenhage (gemeente)  2016     Total             4770.0    524882.0
..                        ...   ...       ...                ...         ...
255                   Tilburg  2020     Total             1620.0    220505.0
256                   Tilburg  2021     Total             1524.0    224459.0
257                   Tilburg  2022     Total             1603.0    227707.0
258                   Tilburg  2023     Total             1450.0    229836.0
259                   Tilburg  2024     Total             1446.0    230357.0

[260 rows x 5 columns]

In [92]:
final_crimecities = pd.concat([crimecities_sub, total_per_gemeente], axis=0)

In [94]:
final_crimecities

    gemeente  year      crime_cat  registered_crimes  popyearend
78   Alkmaar  2012  Zedendelicten               43.0     94505.0
79   Alkmaar  2013  Zedendelicten               44.0     94866.0
80   Alkmaar  2014  Zedendelicten               46.0     95248.0
81   Alkmaar  2015  Zedendelicten               52.0    107615.0
82   Alkmaar  2016  Zedendelicten               57.0    108373.0
..       ...   ...            ...                ...         ...
255  Tilburg  2020          Total             1620.0    220505.0
256  Tilburg  2021          Total             1524.0    224459.0
257  Tilburg  2022          Total             1603.0    227707.0
258  Tilburg  2023          Total             1450.0    229836.0
259  Tilburg  2024          Total             1446.0    230357.0

[3120 rows x 5 columns]

In [96]:
final_crimecities['crime_cat'].unique()

array(['Zedendelicten', 'Moord, doodslag', 'Openlijk geweld (persoon)',
       'Bedreiging', 'Mishandeling', 'Straatroof', 'Overval',
       'Mensenhandel', 'Mensensmokkel', 'Kinderporno',
       'Kinderprostitutie', 'Total'], dtype=object)

## Calculate per capita crime in each category & year, per gemeente

In [98]:
## Calculate new column crime_per_cap by dividing GeregistreerdeMisdrijven in each gemeente/category/year by per thousand of population per year/gemeente
final_crimecities['regcrimes_perthousand'] = final_crimecities['registered_crimes']/(final_crimecities['popyearend']/1000)

In [100]:
final_crimecities

,gemeente,year,crime_cat,registered_crimes,popyearend,regcrimes_perthousand
78,Alkmaar,2012,Zedendelicten,43.0,94505.0,0.455002
79,Alkmaar,2013,Zedendelicten,44.0,94866.0,0.463812
80,Alkmaar,2014,Zedendelicten,46.0,95248.0,0.482950
81,Alkmaar,2015,Zedendelicten,52.0,107615.0,0.483204
82,Alkmaar,2016,Zedendelicten,57.0,108373.0,0.525961
...,...,...,...,...,...,...
255,Tilburg,2020,Total,1620.0,220505.0,7.346772
256,Tilburg,2021,Total,1524.0,224459.0,6.789659
257,Tilburg,2022,Total,1603.0,227707.0,7.039748
258,Tilburg,2023,Total,1450.0,229836.0,6.308846
259,Tilburg,2024,Total,1446.0,230357.0,6.277213

In [109]:
final_crimecities['year'] = final_crimecities['year'].astype('int64')
final_crimecities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3120 entries, 78 to 259
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gemeente               3120 non-null   object
 1   year                   3120 non-null   int64
 2   crime_cat              3120 non-null   object
 3   registered_crimes      3120 non-null   float64
 4   popyearend             3120 non-null   float64
 5   regcrimes_perthousand  3120 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 170.6+ KB

# Analysis

In [135]:
## Top cities, all violent crime 2024
# Create a boolean mask for rows where year is 2024 and crime_cat is 'Total'
bool_2024 = (final_crimecities['year'] == 2024) & (final_crimecities['crime_cat'] == 'Total')

# Use the boolean mask to filter the DataFrame
final_crimecities[bool_2024].sort_values(by=['regcrimes_perthousand'], axis=0, ascending=False)

,gemeente,year,crime_cat,registered_crimes,popyearend,regcrimes_perthousand
246,Rotterdam,2024,Total,6581.0,672960.0,9.779184
64,Amsterdam,2024,Total,8789.0,934526.0,9.404768
77,Arnhem,2024,Total,1362.0,169364.0,8.041851
12,'s-Gravenhage (gemeente),2024,Total,4411.0,568945.0,7.752946
155,Eindhoven,2024,Total,1753.0,249035.0,7.039171
207,Maastricht,2024,Total,824.0,125563.0,6.562443
259,Tilburg,2024,Total,1446.0,230357.0,6.277213
116,Breda,2024,Total,1183.0,188779.0,6.266587
25,'s-Hertogenbosch,2024,Total,1006.0,161530.0,6.227945
181,Leeuwarden,2024,Total,809.0,129973.0,6.224370
233,Nijmegen,2024,Total,1096.0,189007.0,5.798727
220,Middelburg (Z.),2024,Total,285.0,50152.0,5.682725
194,Lelystad,2024,Total,451.0,84713.0,5.323858
168,Haarlem,2024,Total,847.0,168743.0,5.019467
38,Alkmaar,2024,Total,551.0,112896.0,4.880598
90,Assen,2024,Total,343.0,70392.0,4.872713
142,Deventer,2024,Total,498.0,104301.0,4.774643
51,Almere,2024,Total,1048.0,229574.0,4.564977
129,Delft,2024,Total,462.0,110173.0,4.193405
103,Bloemendaal,2024,Total,71.0,23592.0,3.009495

In [155]:
sexcrimes_2024 = (final_crimecities['year'] == 2024) & (final_crimecities['crime_cat'] == 'Zedendelicten')

final_crimecities[sexcrimes_2024].sort_values(by=['regcrimes_perthousand'], axis=0, ascending=False)

,gemeente,year,crime_cat,registered_crimes,popyearend,regcrimes_perthousand
233,Arnhem,2024,Zedendelicten,153.0,169364.0,0.903380
3158,Rotterdam,2024,Zedendelicten,600.0,672960.0,0.891583
2534,Nijmegen,2024,Zedendelicten,158.0,189007.0,0.835948
831,Deventer,2024,Zedendelicten,86.0,104301.0,0.824537
1091,Eindhoven,2024,Zedendelicten,189.0,249035.0,0.758929
207,Amsterdam,2024,Zedendelicten,685.0,934526.0,0.732992
623,Breda,2024,Zedendelicten,122.0,188779.0,0.646258
1351,'s-Gravenhage (gemeente),2024,Zedendelicten,357.0,568945.0,0.627477
246,Assen,2024,Zedendelicten,44.0,70392.0,0.625071
2066,Leeuwarden,2024,Zedendelicten,78.0,129973.0,0.600125
2287,Maastricht,2024,Zedendelicten,75.0,125563.0,0.597310
2352,Middelburg (Z.),2024,Zedendelicten,29.0,50152.0,0.578242
1663,'s-Hertogenbosch,2024,Zedendelicten,80.0,161530.0,0.495264
3561,Tilburg,2024,Zedendelicten,112.0,230357.0,0.486202
2118,Lelystad,2024,Zedendelicten,40.0,84713.0,0.472183
1403,Haarlem,2024,Zedendelicten,76.0,168743.0,0.450389
116,Almere,2024,Zedendelicten,100.0,229574.0,0.435589
90,Alkmaar,2024,Zedendelicten,47.0,112896.0,0.416312
805,Delft,2024,Zedendelicten,39.0,110173.0,0.353989
532,Bloemendaal,2024,Zedendelicten,7.0,23592.0,0.296711

In [157]:
kinderporno_2024 = (final_crimecities['year'] == 2024) & (final_crimecities['crime_cat'] == 'Kinderporno')

final_crimecities[kinderporno_2024].sort_values(by=['regcrimes_perthousand'], axis=0, ascending=False)

,gemeente,year,crime_cat,registered_crimes,popyearend,regcrimes_perthousand
42314,Leeuwarden,2024,Kinderporno,22.0,129973.0,0.169266
41053,Delft,2024,Kinderporno,8.0,110173.0,0.072613
42535,Maastricht,2024,Kinderporno,8.0,125563.0,0.063713
40871,Breda,2024,Kinderporno,7.0,188779.0,0.037080
40338,Alkmaar,2024,Kinderporno,4.0,112896.0,0.035431
41339,Eindhoven,2024,Kinderporno,8.0,249035.0,0.032124
43406,Rotterdam,2024,Kinderporno,21.0,672960.0,0.031205
40481,Arnhem,2024,Kinderporno,5.0,169364.0,0.029522
40494,Assen,2024,Kinderporno,2.0,70392.0,0.028412
42782,Nijmegen,2024,Kinderporno,5.0,189007.0,0.026454
41599,'s-Gravenhage (gemeente),2024,Kinderporno,15.0,568945.0,0.026365
42366,Lelystad,2024,Kinderporno,2.0,84713.0,0.023609
40364,Almere,2024,Kinderporno,5.0,229574.0,0.021779
42600,Middelburg (Z.),2024,Kinderporno,1.0,50152.0,0.019939
41079,Deventer,2024,Kinderporno,2.0,104301.0,0.019175
41911,'s-Hertogenbosch,2024,Kinderporno,3.0,161530.0,0.018572
41651,Haarlem,2024,Kinderporno,3.0,168743.0,0.017779
43809,Tilburg,2024,Kinderporno,4.0,230357.0,0.017364
40455,Amsterdam,2024,Kinderporno,14.0,934526.0,0.014981
40780,Bloemendaal,2024,Kinderporno,0.0,23592.0,0.000000

In [159]:
kinderprost_2024 = (final_crimecities['year'] == 2024) & (final_crimecities['crime_cat'] == 'Kinderprostitutie')

final_crimecities[kinderprost_2024].sort_values(by=['regcrimes_perthousand'], axis=0, ascending=False)

,gemeente,year,crime_cat,registered_crimes,popyearend,regcrimes_perthousand
44810,Alkmaar,2024,Kinderprostitutie,0.0,112896.0,0.0
44836,Almere,2024,Kinderprostitutie,0.0,229574.0,0.0
47878,Rotterdam,2024,Kinderprostitutie,0.0,672960.0,0.0
47254,Nijmegen,2024,Kinderprostitutie,0.0,189007.0,0.0
47072,Middelburg (Z.),2024,Kinderprostitutie,0.0,50152.0,0.0
47007,Maastricht,2024,Kinderprostitutie,0.0,125563.0,0.0
46838,Lelystad,2024,Kinderprostitutie,0.0,84713.0,0.0
46786,Leeuwarden,2024,Kinderprostitutie,0.0,129973.0,0.0
46383,'s-Hertogenbosch,2024,Kinderprostitutie,0.0,161530.0,0.0
46123,Haarlem,2024,Kinderprostitutie,0.0,168743.0,0.0
46071,'s-Gravenhage (gemeente),2024,Kinderprostitutie,0.0,568945.0,0.0
45811,Eindhoven,2024,Kinderprostitutie,0.0,249035.0,0.0
45551,Deventer,2024,Kinderprostitutie,0.0,104301.0,0.0
45525,Delft,2024,Kinderprostitutie,0.0,110173.0,0.0
45343,Breda,2024,Kinderprostitutie,0.0,188779.0,0.0
45252,Bloemendaal,2024,Kinderprostitutie,0.0,23592.0,0.0
44966,Assen,2024,Kinderprostitutie,0.0,70392.0,0.0
44953,Arnhem,2024,Kinderprostitutie,0.0,169364.0,0.0
44927,Amsterdam,2024,Kinderprostitutie,0.0,934526.0,0.0
48281,Tilburg,2024,Kinderprostitutie,0.0,230357.0,0.0

## Time series selected gemeenten of violent crime per capita

### Gemeentes with sharpest change in violent crime per capita (2012 -2024)

## Top gemeentes by violent crime per capita (2024)

### Homicides (moord, doodslag)

### Sex crime (zedendelicten, kinderporno, kinderprostitutie)